@charset "UTF-8";

@font-face {
    font-family: "OpenSans300";
    src:url("../fonts/opensans/opensans300.eot");
    src:url("../fonts/opensans/opensans300.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans/opensans300.woff") format("woff"),
        url("../fonts/opensans/opensans300.ttf") format("truetype"),
        url("../fonts/opensans/opensans300.svg#OpenSans300") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans400";
    src:url("../fonts/opensans/opensans400.eot");
    src:url("../fonts/opensans/opensans400.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans/opensans400.woff") format("woff"),
        url("../fonts/opensans/opensans400.ttf") format("truetype"),
        url("../fonts/opensans/opensans400.svg#OpenSans400") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans600";
    src:url("../fonts/opensans/opensans600.eot");
    src:url("../fonts/opensans/opensans600.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans/opensans600.woff") format("woff"),
        url("../fonts/opensans/opensans600.ttf") format("truetype"),
        url("../fonts/opensans/opensans600.svg#OpenSans600") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans700";
    src:url("../fonts/opensans/opensans700.eot");
    src:url("../fonts/opensans/opensans700.eot?#iefix") format("embedded-opentype"),
        url("../fonts/opensans/opensans700.woff") format("woff"),
        url("../fonts/opensans/opensans700.ttf") format("truetype"),
        url("../fonts/opensans/opensans700.svg#OpenSans700") format("svg");
    font-weight: normal;
    font-style: normal;
}