// --------------------------------------------------------------------------------
// VARIABLES 
// --------------------------------------------------------------------------------
$color-blue-extraextralight:				#eaeef5;
$color-blue-extralight:						#e2e6ed;
$color-blue-light: 							#8f98b4;
$color-blue-normal:							#2f4282;
$color-blue-dark: 							#0b3246;
$color-blue-extradark:						#061b33;

$color-white-normal:						#fff;
$color-white-dark:							#f2f2f2;

$color-gray-extralight:						#e6e6e6;
$color-gray-light: 							#c7c7c7;
$color-gray-normal: 						#7a7a7a;
$color-gray-dark: 							#323232;

$color-green-normal:						#b3d75d;

$color-red-normal:							#b64c4c;
$color-red-light:							#f0c8c8;

$color-orange-normal:						#deb657;
$color-orange-light:						#f6efe0;