// --------------------------------------------------------------------------------
// MODULES - FRAMEWORK
// --------------------------------------------------------------------------------
.m-mainnav									{ color:#fff;
	li 										{ padding:10px; }
	li:hover  								{ cursor:pointer; background:$color-blue-normal; }
}

.m-toolbar 									{ padding:46px 10px 10px 10px; }

.m-actions									{ padding:10px; background:$color-gray-extralight; }