/* -------------------------------------------------------------------------------- */
/* MIXINS - BORDER-RADIUS-ALL
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* MIXINS - LIST PANEL
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* MIXINS - TEXT-TRUNCATE
/* -------------------------------------------------------------------------------- */
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
@font-face {
  font-family: "OpenSans300";
  src: url("../fonts/opensans/opensans300.eot");
  src: url("../fonts/opensans/opensans300.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans300.woff") format("woff"), url("../fonts/opensans/opensans300.ttf") format("truetype"), url("../fonts/opensans/opensans300.svg#OpenSans300") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans400";
  src: url("../fonts/opensans/opensans400.eot");
  src: url("../fonts/opensans/opensans400.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans400.woff") format("woff"), url("../fonts/opensans/opensans400.ttf") format("truetype"), url("../fonts/opensans/opensans400.svg#OpenSans400") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans600";
  src: url("../fonts/opensans/opensans600.eot");
  src: url("../fonts/opensans/opensans600.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans600.woff") format("woff"), url("../fonts/opensans/opensans600.ttf") format("truetype"), url("../fonts/opensans/opensans600.svg#OpenSans600") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans700";
  src: url("../fonts/opensans/opensans700.eot");
  src: url("../fonts/opensans/opensans700.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans700.woff") format("woff"), url("../fonts/opensans/opensans700.ttf") format("truetype"), url("../fonts/opensans/opensans700.svg#OpenSans700") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------------------------------------------------------------------------------- */
/* HTML KEYWORDS
/* -------------------------------------------------------------------------------- */
/* line 4, base/_elements.scss */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Hightligt */
  /* Hightligt */
}
/* line 5, base/_elements.scss */
html ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* line 6, base/_elements.scss */
html ::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* line 7, base/_elements.scss */
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #f2f2f2;
}
/* line 8, base/_elements.scss */
html ::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}

/* line 11, base/_elements.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, base/_elements.scss */
body {
  min-width: 1024px;
  margin: 0 auto;
  color: #323232;
  font-family: 'OpenSans300', sans-serif;
  font-size: 16px;
}

/* line 20, base/_elements.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 21, base/_elements.scss */
li {
  list-style-type: none;
}

/* line 23, base/_elements.scss */
h1 {
  margin-top: 0;
  color: #2f4282;
}

/* line 24, base/_elements.scss */
h2 {
  margin: 0 0 10px 0;
  color: #2f4282;
  font-weight: 300;
}

/* line 25, base/_elements.scss */
p {
  margin: 5px 0;
}

/* line 4, layout/_layout.scss */
.l-content {
  position: absolute;
  top: 94px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 5, layout/_layout.scss */
.l-content .l-workspace {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  font-size: 0.8em;
}
/* line 6, layout/_layout.scss */
.l-content .l-view {
  min-width: 684px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 340px;
  background-color: white;
  margin-left: 10px;
}
/* line 7, layout/_layout.scss */
.l-content .l-view-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, layout/_layout.scss */
.l-content .l-app-actions {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/* line 9, layout/_layout.scss */
.l-content .l-app-view {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
/* line 10, layout/_layout.scss */
.l-content .l-view-content {
  width: 100%;
  padding: 20px;
  background: #eaeef5;
}

/* line 4, layout/_header.scss */
.l-header {
  *zoom: 1;
  background: #fff;
}
/* line 344, libs/jeet/_grid.scss */
.l-header:before, .l-header:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.l-header:after {
  clear: both;
}
/* line 5, layout/_header.scss */
.l-header .l-logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 40%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, libs/jeet/_grid.scss */
.l-header .l-logo:before, .l-header .l-logo:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.l-header .l-logo:after {
  clear: both;
}
/* line 6, layout/_header.scss */
.l-header .l-logo img {
  margin: 10px 0 10px 10px;
}
/* line 8, layout/_header.scss */
.l-header .l-header-nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 60%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, libs/jeet/_grid.scss */
.l-header .l-header-nav:before, .l-header .l-header-nav:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.l-header .l-header-nav:after {
  clear: both;
}

/* line 11, layout/_header.scss */
.l-main-nav {
  *zoom: 1;
  background: #e2e6ed;
}
/* line 344, libs/jeet/_grid.scss */
.l-main-nav:before, .l-main-nav:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.l-main-nav:after {
  clear: both;
}
/* line 12, layout/_header.scss */
.l-main-nav .m-dropdown-nav {
  padding: 10px;
}

/* line 5, modules/_modules.scss */
.simplebold {
  font-family: 'OpenSans600', sans-serif;
}

/* line 7, modules/_modules.scss */
.verify-msg {
  display: none;
  color: #fff;
}
/* line 8, modules/_modules.scss */
.verify-msg > div {
  padding: 5px;
  border-bottom: 1px solid #c7c7c7;
}
/* line 9, modules/_modules.scss */
.verify-msg .verify-msg-fail {
  display: none;
  background: #deb657;
}
/* line 10, modules/_modules.scss */
.verify-msg .verify-msg-success {
  display: none;
  background: #b3d75d;
}

/* line 13, modules/_modules.scss */
.m-tree-nav {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background: #eaeef5;
}
/* line 14, modules/_modules.scss */
.m-tree-nav li {
  margin-bottom: 5px;
  position: relative;
  list-style: none;
}
/* line 15, modules/_modules.scss */
.m-tree-nav li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}
/* line 16, modules/_modules.scss */
.m-tree-nav li input + ul {
  background: url(../Images/caret-right.png) 40px -1px no-repeat;
  margin: -0.938em 0 0 -44px;
  height: 1em;
}
/* line 17, modules/_modules.scss */
.m-tree-nav li input + ul > li {
  margin-bottom: 7px !important;
  display: none;
  margin-left: -14px !important;
  padding-left: 1px;
}
/* line 18, modules/_modules.scss */
.m-tree-nav li label {
  cursor: pointer;
  display: block;
  padding-left: 15px;
}
/* line 19, modules/_modules.scss */
.m-tree-nav li input:checked + ul {
  height: auto;
  background: url(../Images/caret-down.png) 40px 5px no-repeat;
  margin: -1.25em 0 0 -44px;
  padding: 1.563em 0 0 80px;
}
/* line 20, modules/_modules.scss */
.m-tree-nav li input:checked + ul > li {
  margin-bottom: 7px;
  display: block;
  margin: 0 0 0.125em;
}
/* line 21, modules/_modules.scss */
.m-tree-nav li input:checked + ul > li:last-child {
  margin: 0 0 0.063em;
}
/* line 22, modules/_modules.scss */
.m-tree-nav li a {
  text-decoration: none;
}
/* line 24, modules/_modules.scss */
.m-tree-nav li.file {
  margin-left: -1px !important;
}
/* line 25, modules/_modules.scss */
.m-tree-nav li.file a {
  background: url(../Images/document.png) 0 0 no-repeat;
  color: #fff;
  padding-left: 21px;
  text-decoration: none;
  display: block;
}
/* line 26, modules/_modules.scss */
.m-tree-nav li.file a[href*='.pdf'] {
  background: url(../Images/document.png) 0 0 no-repeat;
}
/* line 27, modules/_modules.scss */
.m-tree-nav li.file a[href*='.html'] {
  background: url(../Images/document.png) 0 0 no-repeat;
}
/* line 28, modules/_modules.scss */
.m-tree-nav li.file a[href$='.css'] {
  background: url(../Images/document.png) 0 0 no-repeat;
}
/* line 29, modules/_modules.scss */
.m-tree-nav li.file a[href$='.js'] {
  background: url(../Images/document.png) 0 0 no-repeat;
}
/* line 31, modules/_modules.scss */
.m-tree-nav .fa {
  margin-right: 10px;
  font-size: 1.5em;
}

/* line 34, modules/_modules.scss */
.m-dropdown-nav {
  *zoom: 1;
}
/* line 344, libs/jeet/_grid.scss */
.m-dropdown-nav:before, .m-dropdown-nav:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-dropdown-nav:after {
  clear: both;
}
/* line 35, modules/_modules.scss */
.m-dropdown-nav a {
  color: #0b3246;
}
/* line 36, modules/_modules.scss */
.m-dropdown-nav a:link {
  text-decoration: none;
}
/* line 38, modules/_modules.scss */
.m-dropdown-nav li {
  margin-right: 20px;
  float: left;
  display: block;
  position: relative;
  font-size: 0.875em;
}
/* line 39, modules/_modules.scss */
.m-dropdown-nav li:hover .sub-menu li {
  display: block;
  position: relative;
}
/* line 41, modules/_modules.scss */
.m-dropdown-nav .sub-menu {
  width: 200px;
  position: absolute;
  left: 0px;
  z-index: 999;
  background: #e2e6ed;
}
/* line 42, modules/_modules.scss */
.m-dropdown-nav .sub-menu li {
  width: 100%;
  padding: 5px 10px;
  display: none;
  border-left: 1px solid #0b3246;
  border-right: 1px solid #0b3246;
}
/* line 43, modules/_modules.scss */
.m-dropdown-nav .sub-menu li:hover {
  background-color: #2f4282;
  color: #fff;
}
/* line 44, modules/_modules.scss */
.m-dropdown-nav .sub-menu li:hover a {
  color: #fff;
}
/* line 46, modules/_modules.scss */
.m-dropdown-nav .sub-menu li:first-child {
  border-top: 1px solid #0b3246;
}
/* line 47, modules/_modules.scss */
.m-dropdown-nav .sub-menu li:last-child {
  border-bottom: 1px solid #0b3246;
}

/* line 52, modules/_modules.scss */
.m-nav-header {
  margin-top: 20px;
}
/* line 53, modules/_modules.scss */
.m-nav-header li {
  margin-right: 20px;
  float: right;
}
/* line 54, modules/_modules.scss */
.m-nav-header li:first-child {
  margin-right: 10px;
}
/* line 55, modules/_modules.scss */
.m-nav-header li:last-child {
  margin-left: 0;
}
/* line 56, modules/_modules.scss */
.m-nav-header .sub-menu {
  width: 260px;
  left: -230px;
}
/* line 57, modules/_modules.scss */
.m-nav-header .sub-menu li {
  float: none;
}

/* line 63, modules/_modules.scss */
.m-dropdown-alerts li a > div {
  *zoom: 1;
}
/* line 344, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div:before, .m-dropdown-alerts li a > div:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div:after {
  clear: both;
}
/* line 64, modules/_modules.scss */
.m-dropdown-alerts li a > div > i {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > i:before, .m-dropdown-alerts li a > div > i:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > i:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > i:last-child {
  margin-right: 0%;
}
/* line 65, modules/_modules.scss */
.m-dropdown-alerts li a > div > div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > div:before, .m-dropdown-alerts li a > div > div:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > div:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.m-dropdown-alerts li a > div > div:last-child {
  margin-right: 0%;
}

/* line 68, modules/_modules.scss */
.m-app-nav {
  *zoom: 1;
  padding-bottom: 3px;
  background-color: #fff;
  border-bottom: 3px solid #e6e6e6;
}
/* line 344, libs/jeet/_grid.scss */
.m-app-nav:before, .m-app-nav:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-app-nav:after {
  clear: both;
}
/* line 70, modules/_modules.scss */
.m-app-nav .m-dropdown-nav li {
  margin: 0 10px;
}
/* line 72, modules/_modules.scss */
.m-app-nav .m-app-nav-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, libs/jeet/_grid.scss */
.m-app-nav .m-app-nav-left:before, .m-app-nav .m-app-nav-left:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-app-nav .m-app-nav-left:after {
  clear: both;
}
/* line 73, modules/_modules.scss */
.m-app-nav .m-app-nav-left li {
  margin: 0;
  font-family: 'OpenSans600', sans-serif;
}
/* line 74, modules/_modules.scss */
.m-app-nav .m-app-nav-left li:first-child {
  margin-left: 0;
}
/* line 75, modules/_modules.scss */
.m-app-nav .m-app-nav-left li:after {
  content: "\00a0\00a0|\00a0\00a0";
}
/* line 76, modules/_modules.scss */
.m-app-nav .m-app-nav-left li:last-child:after {
  content: "";
}
/* line 78, modules/_modules.scss */
.m-app-nav .m-app-nav-left .sub-menu {
  width: 100px;
}
/* line 79, modules/_modules.scss */
.m-app-nav .m-app-nav-left .sub-menu li:after {
  content: "";
}
/* line 82, modules/_modules.scss */
.m-app-nav .m-app-nav-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, libs/jeet/_grid.scss */
.m-app-nav .m-app-nav-right:before, .m-app-nav .m-app-nav-right:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-app-nav .m-app-nav-right:after {
  clear: both;
}
/* line 83, modules/_modules.scss */
.m-app-nav .m-app-nav-right li {
  float: right;
}
/* line 84, modules/_modules.scss */
.m-app-nav .m-app-nav-right .fa {
  font-size: 1.125em;
}

/* line 88, modules/_modules.scss */
.m-tasks-nav {
  margin-bottom: 20px;
}
/* line 89, modules/_modules.scss */
.m-tasks-nav li a {
  color: #2f4282;
  font-size: 0.875em;
}

/* line 92, modules/_modules.scss */
.m-breadcrumbs-nav {
  *zoom: 1;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 344, libs/jeet/_grid.scss */
.m-breadcrumbs-nav:before, .m-breadcrumbs-nav:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-breadcrumbs-nav:after {
  clear: both;
}
/* line 93, modules/_modules.scss */
.m-breadcrumbs-nav li {
  float: left;
  display: block;
  font-size: 0.750em;
}
/* line 94, modules/_modules.scss */
.m-breadcrumbs-nav li:after {
  content: "\00a0\00a0/\00a0\00a0";
}
/* line 95, modules/_modules.scss */
.m-breadcrumbs-nav li:last-child:after {
  content: "";
}
/* line 96, modules/_modules.scss */
.m-breadcrumbs-nav a {
  text-decoration: none;
}
/* line 97, modules/_modules.scss */
.m-breadcrumbs-nav a[disabled="disabled"] {
  pointer-events: none;
  color: #7a7a7a;
  cursor: pointer;
}

/* line 4, modules/_button.scss */
.m-btn {
  width: 100px;
  min-width: 100px;
  padding: 10px 10px;
  background: #2f4282;
  color: #fff;
  text-align: center;
  font-size: 0.750em;
  cursor: pointer;
}
/* line 5, modules/_button.scss */
.m-btn i {
  margin-left: 10px;
}

/* line 7, modules/_button.scss */
.m-btn:hover {
  background: #8f98b4;
  color: #fff;
}

/* line 4, modules/_cell-nav.scss */
.m-cell-nav {
  color: #323232;
  text-decoration: none;
}
/* line 5, modules/_cell-nav.scss */
.m-cell-nav span {
  display: block;
  font-size: 0.875em;
}
/* line 6, modules/_cell-nav.scss */
.m-cell-nav img {
  width: 100%;
}
/* line 7, modules/_cell-nav.scss */
.m-cell-nav .title {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #2f4282;
  font-size: 1.250em;
  font-family: 'OpenSans700', sans-serif;
}
/* line 8, modules/_cell-nav.scss */
.m-cell-nav .actions {
  *zoom: 1;
  margin-top: 10px;
}
/* line 344, libs/jeet/_grid.scss */
.m-cell-nav .actions:before, .m-cell-nav .actions:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-cell-nav .actions:after {
  clear: both;
}
/* line 9, modules/_cell-nav.scss */
.m-cell-nav .actions .m-btn {
  margin-right: 20px;
  float: left;
}

/* line 4, modules/_data-source.scss */
.m-data-source {
  margin-bottom: 5px;
  font-size: 0.875em;
}
/* line 5, modules/_data-source.scss */
.m-data-source .title {
  padding: 5px;
  background: #e6e6e6;
  border-bottom: 1px solid #c7c7c7;
}
/* line 6, modules/_data-source.scss */
.m-data-source li {
  position: relative;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  cursor: pointer;
}
/* line 7, modules/_data-source.scss */
.m-data-source li div {
  width: 85%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 8, modules/_data-source.scss */
.m-data-source li i {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e6e6e6;
}
/* line 9, modules/_data-source.scss */
.m-data-source li i.mapped {
  color: #b3d75d;
}
/* line 12, modules/_data-source.scss */
.m-data-source li:first-child {
  border-top: 0;
}
/* line 13, modules/_data-source.scss */
.m-data-source li:hover {
  background: #c7c7c7;
  color: #fff;
}
/* line 14, modules/_data-source.scss */
.m-data-source li.not-verified {
  background: #f6efe0;
  color: #7a7a7a;
}

/* line 18, modules/_data-source.scss */
.m-data-source-drag.ui-draggable-dragging {
  width: 160px;
  height: 22px;
  padding: 5px;
  overflow: hidden;
  font-size: 0.750em;
  border: 1px solid #c7c7c7;
}

/* line 21, modules/_data-source.scss */
.m-add-data-source {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background: #7a7a7a;
  color: #fff;
  font-size: 0.813em;
  cursor: pointer;
}
/* line 22, modules/_data-source.scss */
.m-add-data-source:hover {
  background: #323232;
  color: #fff;
}

/* line 25, modules/_data-source.scss */
.m-data-source-placeholder {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
/* line 26, modules/_data-source.scss */
.m-data-source-placeholder > div {
  margin-bottom: 20px;
}
/* line 27, modules/_data-source.scss */
.m-data-source-placeholder > i {
  margin-bottom: 10px;
  font-size: 2em;
}
/* line 28, modules/_data-source.scss */
.m-data-source-placeholder > p {
  font-size: 0.750em;
}

/* line 4, modules/_diagram.scss */
.m-diagram {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 6, modules/_diagram.scss */
.m-diagram ._jsPlumb_drag_select * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 7, modules/_diagram.scss */
.m-diagram ._jsPlumb_overlay {
  z-index: 20;
}
/* line 8, modules/_diagram.scss */
.m-diagram ._jsPlumb_connector {
  z-index: 4;
}
/* line 9, modules/_diagram.scss */
.m-diagram ._jsPlumb_connected {
  border: 2px solid green;
}
/* line 10, modules/_diagram.scss */
.m-diagram ._jsPlumb_endpoint {
  z-index: 21;
  cursor: default;
}
/* line 12, modules/_diagram.scss */
.m-diagram .jsplumb-drag {
  border: 1px solid #2f4282 !important;
}
/* line 14, modules/_diagram.scss */
.m-diagram .jsplumb-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
/* line 16, modules/_diagram.scss */
.m-diagram .connection-action {
  width: 15px;
  height: 15px;
  background: #61B7CF;
  cursor: pointer;
}
/* line 17, modules/_diagram.scss */
.m-diagram .connection-action ._jsPlumb_hover {
  background: #5C96BC;
  color: #fff;
  border: 1px solid white;
}
/* line 20, modules/_diagram.scss */
.m-diagram .window {
  width: 100px;
  height: 100px;
  padding: 10px;
  position: absolute;
  z-index: 20;
  overflow-y: auto;
  text-align: center;
  opacity: 0.8;
  background-color: #e6e6e6;
  color: #323232;
  font-size: 0.9em;
  border: 1px solid #7a7a7a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 21, modules/_diagram.scss */
.m-diagram .window:hover {
  background: #c7c7c7;
  border: 1px solid #323232;
  cursor: pointer;
}
/* line 22, modules/_diagram.scss */
.m-diagram .window > div {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 23, modules/_diagram.scss */
.m-diagram .window > div .fa {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
}
/* line 27, modules/_diagram.scss */
.m-diagram .is-window-focal {
  background: #2f4282;
  color: #fff;
}
/* line 28, modules/_diagram.scss */
.m-diagram .is-window-focal:hover {
  background: #2f4282;
  opacity: 1;
}
/* line 30, modules/_diagram.scss */
.m-diagram .is-window-focal-active {
  background: #2f4282 !important;
  opacity: 1;
}
/* line 31, modules/_diagram.scss */
.m-diagram .is-window-focal-active:hover {
  background: #2f4282 !important;
  opacity: 1;
}
/* line 33, modules/_diagram.scss */
.m-diagram .is-window-active {
  background: #7a7a7a !important;
  color: #fff;
  opacity: 1;
}
/* line 34, modules/_diagram.scss */
.m-diagram .is-window-active:hover {
  background: #7a7a7a !important;
  color: #fff;
  opacity: 1;
}

/* line 5, modules/_form.scss */
.m-form .m-form-ctrl {
  margin-bottom: 20px;
}
/* line 6, modules/_form.scss */
.m-form .m-form-ctrl label {
  margin-bottom: 5px;
  display: block;
  font-family: 'OpenSans600', sans-serif;
}
/* line 8, modules/_form.scss */
.m-form .filetype {
  margin-top: 3px;
  font-size: 0.625em;
  font-family: 'OpenSans300', sans-serif;
}
/* line 9, modules/_form.scss */
.m-form .actions {
  *zoom: 1;
  margin-top: 10px;
}
/* line 344, libs/jeet/_grid.scss */
.m-form .actions:before, .m-form .actions:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-form .actions:after {
  clear: both;
}
/* line 10, modules/_form.scss */
.m-form .m-btn {
  margin-top: 5px;
  margin-left: 20px;
  float: right;
}
/* line 12, modules/_form.scss */
.m-form .validation {
  display: none;
}
/* line 13, modules/_form.scss */
.m-form .required {
  font-size: 0.750em;
}

/* line 4, modules/_framework.scss */
.m-mainnav {
  color: #fff;
}
/* line 5, modules/_framework.scss */
.m-mainnav li {
  padding: 10px;
}
/* line 6, modules/_framework.scss */
.m-mainnav li:hover {
  cursor: pointer;
  background: #2f4282;
}

/* line 9, modules/_framework.scss */
.m-toolbar {
  padding: 46px 10px 10px 10px;
}

/* line 11, modules/_framework.scss */
.m-actions {
  padding: 10px;
  background: #e6e6e6;
}

/* line 4, modules/_modal.scss */
.m-modal {
  display: none;
}
/* line 5, modules/_modal.scss */
.m-modal:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}
/* line 7, modules/_modal.scss */
.m-modal .modal-dialog {
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12999;
  background: #fff;
}
/* line 9, modules/_modal.scss */
.m-modal .modal-header {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #c7c7c7;
}
/* line 10, modules/_modal.scss */
.m-modal .modal-header > div {
  font-family: 'OpenSans700', sans-serif;
}
/* line 11, modules/_modal.scss */
.m-modal .modal-header .fa-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* line 14, modules/_modal.scss */
.m-modal .modal-body {
  padding: 10px;
}
/* line 15, modules/_modal.scss */
.m-modal .modal-body select, .m-modal .modal-body input[type="text"] {
  display: block;
}
/* line 16, modules/_modal.scss */
.m-modal .modal-body .dragdrop {
  padding: 40px;
  border: 2px dashed #c7c7c7;
}
/* line 18, modules/_modal.scss */
.m-modal .modal-body .m-modal-add-relationship-name-con > input, .m-modal .modal-body .m-modal-add-relationship-name-con > div {
  display: inline-block;
}
/* line 19, modules/_modal.scss */
.m-modal .modal-body .m-modal-add-relationship-name-con > div {
  padding: 5px;
  display: none;
  background: #b64c4c;
  color: #fff;
  font-size: 0.750em;
}
/* line 22, modules/_modal.scss */
.m-modal .modal-body .m-modal-edit-relationship-name-con > input, .m-modal .modal-body .m-modal-edit-relationship-name-con > div {
  display: inline-block;
}
/* line 23, modules/_modal.scss */
.m-modal .modal-body .m-modal-edit-relationship-name-con > div {
  padding: 5px;
  display: none;
  background: #b64c4c;
  color: #fff;
  font-size: 0.750em;
}
/* line 25, modules/_modal.scss */
.m-modal .modal-body .endpoint-1 > div {
  font-size: 0.875em;
}
/* line 26, modules/_modal.scss */
.m-modal .modal-body .processing-options > div {
  font-size: 0.875em;
}
/* line 31, modules/_modal.scss */
.m-modal .modal-footer {
  *zoom: 1;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #c7c7c7;
}
/* line 344, libs/jeet/_grid.scss */
.m-modal .modal-footer:before, .m-modal .modal-footer:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-modal .modal-footer:after {
  clear: both;
}
/* line 32, modules/_modal.scss */
.m-modal .modal-footer .m-btn {
  float: right;
  margin-right: 10px;
}

/* line 36, modules/_modal.scss */
.m-modal-delete-rule .modal-body {
  font-size: 0.813em;
}

/* line 37, modules/_modal.scss */
.m-modal-info-message .modal-body {
  font-size: 0.813em;
}

/* line 6, modules/_object.scss */
.m-object-canvas {
  padding: 4px;
  position: relative;
  border-bottom: 1px solid #c7c7c7;
  font-size: 0.875em;
}
/* line 7, modules/_object.scss */
.m-object-canvas .title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'OpenSans600', sans-serif;
}
/* line 8, modules/_object.scss */
.m-object-canvas .description {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 9, modules/_object.scss */
.m-object-canvas .fa {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* line 12, modules/_object.scss */
.m-object-drag {
  padding: 4px;
  position: relative;
  border-bottom: 1px solid #c7c7c7;
  font-size: 0.875em;
  cursor: pointer;
}
/* line 13, modules/_object.scss */
.m-object-drag .title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'OpenSans600', sans-serif;
}
/* line 14, modules/_object.scss */
.m-object-drag .description {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 15, modules/_object.scss */
.m-object-drag .fa {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 16, modules/_object.scss */
.m-object-drag.ui-draggable-dragging {
  width: 100px;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  list-style-type: none;
  opacity: 0.8;
  background-color: #eeeeef;
  color: black;
  font-size: 0.813em;
  border: 1px solid #346789;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 17, modules/_object.scss */
.m-object-drag.ui-draggable-dragging .title {
  text-align: center;
}
/* line 18, modules/_object.scss */
.m-object-drag.ui-draggable-dragging .description {
  display: none;
}
/* line 19, modules/_object.scss */
.m-object-drag.ui-draggable-dragging .fa {
  display: none;
}

/* line 23, modules/_object.scss */
.is-object-canvas-focal {
  background: #e2e6ed;
}

/* line 5, modules/_property.scss */
.m-property li {
  *zoom: 1;
  border-bottom: 1px solid #c7c7c7;
  font-size: 0.875em;
}
/* line 344, libs/jeet/_grid.scss */
.m-property li:before, .m-property li:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-property li:after {
  clear: both;
}
/* line 6, modules/_property.scss */
.m-property li > div {
  padding: 4px;
  float: left;
}
/* line 7, modules/_property.scss */
.m-property li .title {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 8, modules/_property.scss */
.m-property li .mapping {
  width: 190px;
  min-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #c7c7c7;
  cursor: pointer;
}
/* line 10, modules/_property.scss */
.m-property li:last-child {
  border-bottom: 0;
}

/* line 13, modules/_property.scss */
.m-active-properties-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 5, modules/_rule-list.scss */
.m-rule-list li {
  *zoom: 1;
  padding: 10px;
  background: #f2f2f2;
  border-bottom: 1px solid #c7c7c7;
}
/* line 344, libs/jeet/_grid.scss */
.m-rule-list li:before, .m-rule-list li:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-rule-list li:after {
  clear: both;
}
/* line 6, modules/_rule-list.scss */
.m-rule-list .m-modal-rules-delete {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 2.15%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.m-rule-list .m-modal-rules-delete:before, .m-rule-list .m-modal-rules-delete:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-rule-list .m-modal-rules-delete:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.m-rule-list .m-modal-rules-delete:last-child {
  margin-right: 0%;
}
/* line 7, modules/_rule-list.scss */
.m-rule-list .m-modal-rules-delete i {
  cursor: pointer;
}
/* line 9, modules/_rule-list.scss */
.m-rule-list .property {
  margin-top: 3px;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 43.35%;
  margin-left: 0%;
  margin-right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.813em;
}
/* line 344, libs/jeet/_grid.scss */
.m-rule-list .property:before, .m-rule-list .property:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-rule-list .property:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.m-rule-list .property:last-child {
  margin-right: 0%;
}
/* line 10, modules/_rule-list.scss */
.m-rule-list .rule {
  margin-top: 2px;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.m-rule-list .rule:before, .m-rule-list .rule:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.m-rule-list .rule:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.m-rule-list .rule:last-child {
  margin-right: 0%;
}
/* line 11, modules/_rule-list.scss */
.m-rule-list .rule select {
  width: 100%;
}

/* line 4, modules/_search.scss */
.m-search {
  position: relative;
  background: #fff;
  border: 1px solid #c7c7c7;
}
/* line 5, modules/_search.scss */
.m-search input {
  width: 90%;
  border: 0;
}
/* line 6, modules/_search.scss */
.m-search i {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: .750em;
  cursor: pointer;
}

/* line 4, views/_diagram.scss */
.v-diagram {
  width: 100%;
  height: 100%;
  font-size: 0.875em;
}
/* line 6, views/_diagram.scss */
.v-diagram .v-header {
  *zoom: 1;
  height: 41px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #c7c7c7;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .v-header:before, .v-diagram .v-header:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .v-header:after {
  clear: both;
}
/* line 7, views/_diagram.scss */
.v-diagram .v-header ul {
  *zoom: 1;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .v-header ul:before, .v-diagram .v-header ul:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .v-header ul:after {
  clear: both;
}
/* line 8, views/_diagram.scss */
.v-diagram .v-header li {
  margin-right: 20px;
  float: left;
  font-family: 'OpenSans600', sans-serif;
}
/* line 9, views/_diagram.scss */
.v-diagram .v-header li > i, .v-diagram .v-header li > div {
  cursor: pointer;
  color: #2f4282;
}
/* line 10, views/_diagram.scss */
.v-diagram .v-header li > div:hover {
  color: #8f98b4;
}
/* line 13, views/_diagram.scss */
.v-diagram .v-header .left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .v-header .left:before, .v-diagram .v-header .left:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .v-header .left:after {
  clear: both;
}
/* line 14, views/_diagram.scss */
.v-diagram .v-header .right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 1.125em;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .v-header .right:before, .v-diagram .v-header .right:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .v-header .right:after {
  clear: both;
}
/* line 15, views/_diagram.scss */
.v-diagram .v-header .right li {
  margin-right: 0;
  margin-left: 10px;
  float: right;
  color: #2f4282;
}
/* line 16, views/_diagram.scss */
.v-diagram .v-header .right li > .fa:hover {
  color: #8f98b4;
}
/* line 20, views/_diagram.scss */
.v-diagram .v-header .nav-verify {
  display: none;
}
/* line 23, views/_diagram.scss */
.v-diagram .data {
  width: 200px;
  position: absolute;
  top: 41px;
  bottom: 0;
  left: 0;
  background: #e6e6e6;
  border-right: 1px solid #c7c7c7;
}
/* line 24, views/_diagram.scss */
.v-diagram .data-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 25, views/_diagram.scss */
.v-diagram .data-con .data-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .data-con .data-list .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .data-con .data-list .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 11, mixins/_list-panel.scss */
.v-diagram .data-con .data-list .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 28px;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .data-con .data-list .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 19, mixins/_list-panel.scss */
.v-diagram .data-con .data-list .list-panel-con .search {
  width: 100%;
  height: 29px;
  padding: 4px 7px 0 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 26, views/_diagram.scss */
.v-diagram .data-con .data-list-placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .data-con .data-list-placeholder .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .data-con .data-list-placeholder .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 13, mixins/_list-panel.scss */
.v-diagram .data-con .data-list-placeholder .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .data-con .data-list-placeholder .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 28, views/_diagram.scss */
.v-diagram .import-data-set-header {
  border-top: 0 !important;
}
/* line 31, views/_diagram.scss */
.v-diagram .objects {
  width: 320px;
  position: absolute;
  top: 40px;
  left: 201px;
  bottom: 0;
  border-right: 1px solid #c7c7c7;
}
/* line 32, views/_diagram.scss */
.v-diagram .objects-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 33, views/_diagram.scss */
.v-diagram .objects-con .properties-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 75%;
  left: 0;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .objects-con .properties-list .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .objects-con .properties-list .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 13, mixins/_list-panel.scss */
.v-diagram .objects-con .properties-list .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .objects-con .properties-list .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 34, views/_diagram.scss */
.v-diagram .objects-con .properties-list .header {
  position: relative;
  border-top-width: 1px !important;
}
/* line 35, views/_diagram.scss */
.v-diagram .objects-con .properties-list .header div {
  width: 85%;
}
/* line 36, views/_diagram.scss */
.v-diagram .objects-con .properties-list .header i {
  position: absolute;
  top: 7px;
  right: 5px;
  cursor: pointer;
}
/* line 39, views/_diagram.scss */
.v-diagram .objects-con .object-list {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 50%;
  left: 0;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .objects-con .object-list .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .objects-con .object-list .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 13, mixins/_list-panel.scss */
.v-diagram .objects-con .object-list .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .objects-con .object-list .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 40, views/_diagram.scss */
.v-diagram .objects-con .hardware-list {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 25%;
  left: 0;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .objects-con .hardware-list .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .objects-con .hardware-list .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 13, mixins/_list-panel.scss */
.v-diagram .objects-con .hardware-list .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .objects-con .hardware-list .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 41, views/_diagram.scss */
.v-diagram .objects-con .all-objects-list {
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 7, mixins/_list-panel.scss */
.v-diagram .objects-con .all-objects-list .list-panel-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 8, mixins/_list-panel.scss */
.v-diagram .objects-con .all-objects-list .list-panel-con .header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 3px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-family: 'OpenSans600', sans-serif;
}
/* line 11, mixins/_list-panel.scss */
.v-diagram .objects-con .all-objects-list .list-panel-con .list {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 28px;
  left: 0;
}
/* line 16, mixins/_list-panel.scss */
.v-diagram .objects-con .all-objects-list .list-panel-con .list-con {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
/* line 19, mixins/_list-panel.scss */
.v-diagram .objects-con .all-objects-list .list-panel-con .search {
  width: 100%;
  height: 29px;
  padding: 4px 7px 0 7px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 42, views/_diagram.scss */
.v-diagram .objects-con .all-objects-list .search {
  border-top: 1px solid #c7c7c7;
}
/* line 46, views/_diagram.scss */
.v-diagram .diagram {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 521px;
}
/* line 47, views/_diagram.scss */
.v-diagram .diagram-con {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 49, views/_diagram.scss */
.v-diagram .object-options {
  width: 300px;
  position: absolute;
  top: 46px;
  left: 510px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}
/* line 50, views/_diagram.scss */
.v-diagram .object-options .object-options-con {
  position: relative;
}
/* line 51, views/_diagram.scss */
.v-diagram .object-options .object-options-con .triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8.66px solid #323232;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 5px;
  left: 10px;
}
/* line 52, views/_diagram.scss */
.v-diagram .object-options .object-options-con ul {
  margin-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #c7c7c7;
  background: #f2f2f2;
}
/* line 53, views/_diagram.scss */
.v-diagram .object-options .object-options-con li {
  *zoom: 1;
  padding: 0 5px;
  font-size: 0.750em;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li:before, .v-diagram .object-options .object-options-con li:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li:after {
  clear: both;
}
/* line 54, views/_diagram.scss */
.v-diagram .object-options .object-options-con li .check {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .check:before, .v-diagram .object-options .object-options-con li .check:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .check:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .check:last-child {
  margin-right: 0%;
}
/* line 55, views/_diagram.scss */
.v-diagram .object-options .object-options-con li .label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  line-height: 18px;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .label:before, .v-diagram .object-options .object-options-con li .label:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .label:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .label:last-child {
  margin-right: 0%;
}
/* line 56, views/_diagram.scss */
.v-diagram .object-options .object-options-con li .more {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  line-height: 18px;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .more:before, .v-diagram .object-options .object-options-con li .more:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .more:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options .object-options-con li .more:last-child {
  margin-right: 0%;
}
/* line 58, views/_diagram.scss */
.v-diagram .object-options .object-options-con li:hover {
  background: #e2e6ed;
}
/* line 62, views/_diagram.scss */
.v-diagram .object-options-secondary {
  width: 150px;
  position: absolute;
  top: 103px;
  left: 799px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}
/* line 63, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con {
  position: relative;
}
/* line 64, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con .triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8.66px solid #323232;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 5px;
  left: 10px;
}
/* line 65, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con ul {
  margin-left: 18px;
  border: 1px solid #c7c7c7;
  background: #f2f2f2;
}
/* line 66, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li {
  *zoom: 1;
  padding: 5px 5px;
  font-size: 0.750em;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li:before, .v-diagram .object-options-secondary .object-options-secondary-con li:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li:after {
  clear: both;
}
/* line 67, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .check {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .check:before, .v-diagram .object-options-secondary .object-options-secondary-con li .check:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .check:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .check:last-child {
  margin-right: 0%;
}
/* line 68, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  line-height: 18px;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .label:before, .v-diagram .object-options-secondary .object-options-secondary-con li .label:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .label:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .label:last-child {
  margin-right: 0%;
}
/* line 69, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .more {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  line-height: 18px;
}
/* line 344, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .more:before, .v-diagram .object-options-secondary .object-options-secondary-con li .more:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .more:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li .more:last-child {
  margin-right: 0%;
}
/* line 71, views/_diagram.scss */
.v-diagram .object-options-secondary .object-options-secondary-con li:hover {
  background: #e2e6ed;
}

/* line 4, views/_datamanagement.scss */
.v-datamanagement {
  padding: 20px;
  overflow-y: auto;
}
/* line 5, views/_datamanagement.scss */
.v-datamanagement .data-management-list {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 344, libs/jeet/_grid.scss */
.v-datamanagement .data-management-list:before, .v-datamanagement .data-management-list:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-datamanagement .data-management-list:after {
  clear: both;
}
/* line 6, views/_datamanagement.scss */
.v-datamanagement .data-management-list > div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.v-datamanagement .data-management-list > div:before, .v-datamanagement .data-management-list > div:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-datamanagement .data-management-list > div:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-datamanagement .data-management-list > div:last-child {
  margin-right: 0%;
}

/* line 4, views/_home.scss */
.v-home {
  top: 114px;
}

/* line 4, views/_landing.scss */
.v-landing {
  padding: 20px;
  overflow-y: auto;
}
/* line 5, views/_landing.scss */
.v-landing .template-list {
  *zoom: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 344, libs/jeet/_grid.scss */
.v-landing .template-list:before, .v-landing .template-list:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-landing .template-list:after {
  clear: both;
}
/* line 6, views/_landing.scss */
.v-landing .template-list > div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 344, libs/jeet/_grid.scss */
.v-landing .template-list > div:before, .v-landing .template-list > div:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-landing .template-list > div:after {
  clear: both;
}
/* line 58, libs/jeet/_grid.scss */
.v-landing .template-list > div:last-child {
  margin-right: 0%;
}

/* line 4, views/_whichdata.scss */
.v-whichdata {
  padding: 20px;
  overflow-y: auto;
}
/* line 5, views/_whichdata.scss */
.v-whichdata h2 {
  margin-bottom: 0;
}
/* line 6, views/_whichdata.scss */
.v-whichdata p {
  margin: 0;
}
/* line 9, views/_whichdata.scss */
.v-whichdata .asset-type .select-asset {
  *zoom: 1;
  margin-top: 20px;
}
/* line 344, libs/jeet/_grid.scss */
.v-whichdata .asset-type .select-asset:before, .v-whichdata .asset-type .select-asset:after {
  content: '';
  display: table;
}
/* line 349, libs/jeet/_grid.scss */
.v-whichdata .asset-type .select-asset:after {
  clear: both;
}
/* line 10, views/_whichdata.scss */
.v-whichdata .asset-type .select-asset li {
  margin-right: 10px;
  float: left;
}
/* line 14, views/_whichdata.scss */
.v-whichdata .details {
  margin-top: 40px;
  display: none;
}
/* line 15, views/_whichdata.scss */
.v-whichdata .details .details-radios {
  margin-top: 10px;
  font-size: 0.813em;
}
/* line 16, views/_whichdata.scss */
.v-whichdata .details .details-radios span {
  margin-left: 10px;
}
/* line 20, views/_whichdata.scss */
.v-whichdata .focal-object {
  margin-top: 40px;
  display: none;
}
/* line 21, views/_whichdata.scss */
.v-whichdata .focal-object select {
  margin-top: 5px;
}
/* line 22, views/_whichdata.scss */
.v-whichdata .focal-object .another-focal-object {
  margin-top: 10px;
  color: #2f4282;
  font-size: 0.688em;
  font-family: 'OpenSans600', sans-serif;
  cursor: pointer;
}
/* line 23, views/_whichdata.scss */
.v-whichdata .focal-object .focal-object-list-close {
  margin-left: 5px;
  cursor: pointer;
}
/* line 26, views/_whichdata.scss */
.v-whichdata .continue {
  margin-top: 20px;
  display: none;
}
